.app {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  max-width: 768px;
  flex-direction: column;
}

.header {
  background-color: #222323;
  color: white;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
